<link href="https://fonts.cdnfonts.com/css/elegant-2" rel="stylesheet">
<header class="main-header">
  <div class="main">
    <div class="background-image"></div>
    <div class="main-text">
      <p class="bigtext">AICI INCEPE VACANTA TA</p>
      <p>Alege destinatiile favorite si bucura-te de vacanta ce te asteapta!</p> 
    </div>
    {{> header-bar}}
    </div>
  </div>
</div>

</header>