<div class="content">
      <div class="header-content">
        <a href="/"><img class="logo" src="/images/logo.png" alt="logo img"></a>
        <div class="nav-container">
        {{> nav }}
      </div>
      
      <div class="connect-create">
        <button class="conectare" onclick="document.getElementById('id01').style.display='block'">Conecteaza-te</button>

        <div id="id01" class="modal">
          <form class="modal-content animate" action="/login" method="POST">
            <div class="imgcontainer">
              <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>


            <div class="containerr">
              <div class="uname">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" class="usernameInput" required>
              </div>

              <div class="psw">
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" class="passwordInput" required>
              </div>

              <button class="login" type="submit">Login</button>
            </div>
          </form>
        </div>


        <button class="creaza-cont" onclick="document.getElementById('id02').style.display='block'">Creează cont</button>

        <div id="id02" class="modal">
          <form class="modal-content animate" action="/register" method="POST">
            <div class="imgcontainer">
              <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>

            <div class="containerr">
              <div class="uname">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" class="usernameInput" required>
              </div>

              <div class="psw">
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" class="passwordInput" maxlength="50" required>
              </div>

              <div class="psw">
                <label for="confirm-password"><b>Confirm Password</b></label>
                <input type="password" placeholder="Confirm Password" name="confirm_password" class="confirmPasswordInput" maxlength="50" required>
              </div>

              <button class="register" type="submit">Register</button>
            </div>
          </form>
        </div>
    </div>