
<link href="https://fonts.cdnfonts.com/css/elegant-2" rel="stylesheet">              

<ul class="wrapper">
  {{#each strip}}
    <li class="strip-name">
        <div class="strip">
          {{> strip}}
        </div>
    </li>
  {{/each}}
</ul>

<div class="containerm">
  <div class="image-container">
    <img src="/images/map.jpg" alt="Imagine">
  </div>
  <div class="content-container">
    <div class="text-content">
      <h4>Explorarea lumii și descoperirea unor noi aventuri sunt doar câteva click-uri distanță. Iată ce puteți găsi în această platformă inovatoare:</h4>
      <p><span>Destinații Magice:</span> Descoperiți destinații captivante din întreaga lume. De la plajele tropicale la orașele cosmopolite și până la locurile istorice, suntem aici pentru a vă ghida în fiecare călătorie.</p>
      <p><span>Cautare Zboruri în Timp Real:</span> Planificați-vă călătoria fără stres. Cu ajutorul motorului nostru de căutare, puteți căuta zboruri în timp real cu detalii personalizate. Alegeți destinația, data și preferințele dvs. și obțineți cele mai bune opțiuni.</p>
      <p><span>Asistență Personalizată cu Chat Botul:</span> Aveți întrebări? Nu vă faceți griji. Chat botul nostru prietenos este aici pentru a vă oferi răspunsuri rapide. De la informații despre destinații până la detalii de călătorie, chat botul vă susține în fiecare pas al călătoriei dvs.</p>
      <h4>Bucurați-vă de călătorii memorabile și aventuri incredibile cu ajutorul nostru!</h4>
    </div>
  </div>
  <script src="/js/about.js"></script>

</div>



