<a class="strip-title-button"> {{this.strip-name}}</a>
<div class="strip-gallery">
    <div class="slider-container" id="stripId">
        <div class="inner-slider">
            {{#each shows}}
                <div class="img_wrap" id="shows">
                    <img class="strip-img" src="{{this.image}}" />
                    <div class="hover-desc">{{this.description}}</div>
                </div>
            {{/each}}
        </div> 
        <div id="btnId">
            <button class="btn btn-next">></button>
            <button class="btn btn-prev"><</button> 
        </div>
    </div>
    <link href="/css/style.css" rel="stylesheet" />
</div>


<script type="text/javascript">
    createCarousel('#' + getFormattedStripId('{{this.strip-name}}'));                
</script>
