<html>
  <head>
    <title>Travel Mate</title>
    <meta charset="UTF-8" />
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source Sans Pro">
    <script type="text/javascript" src="/js/carousel.js"></script>
  </head>

  <body>
    {{{body}}}
  </body>

</html>