<div>
    {{> header-bar}}
</div>

<div class="top-destinatii">
    <p class="titlu-articol">Top 5 destinatii 2023 </p>
    <img src="/images/top-destinatii.png" width="40%">
    <p class="desc">„Dubai rămâne un refugiu favorit al celebrităților și al influencerilor. «Orașul de aur» continuă să atragă turiști din întreaga lume care caută propria lor bucată de lux”, notează portalul american de turism. Londra, capitala Regatului Unit, își păstrează coroana „în Europa”, dar a coborât pe locul trei la nivel global, după insula indoneziană Bali. Alte destinații populare din Top 10 sunt Cancun (Mexic), insula grecească Creta, orașul marocan Marrakech, Republica Dominicană și Istanbul.
</p>
</div>

<div class="cappadocia">
    <p class="titlu-articol">Cappadocia- o destinatie de poveste</p>
    <p class="desc">Cappadocia (denumirea europeană) sau Kapadokya (denumirea turcească) este una dintre destinațiile cele mai iconice din Turcia și cele mai populare locuri din lume pentru peisajul său incredibil, formațiuni de roci și baloane cu aer cald.</p>
    <img src="/images/cappadocia.jpg" width="40%">
</div>

<div class="barcelona">
    <p class="titlu-articol">Top obiective Barcelona</p>
    <img src="/images/barcelona.jpg" width="40%">
    <p class="desc">Azi, Barcelona se afla printre aspirantii la titlul de glorie in domenii precum arta dramatica, afaceri, gastronomia si design, in timp ce identitatea sa catalana se manifesta fara retineri.
Printre atractiile si obiectivele turistice din Barcelona se numara ruinele romane, dar si moderna arhitectura contemporana, cu o doza suficienta de stil gotic si modernist. Artisti mari ai secolului al XX-lea, precum Pablo Picasso, Joan Miro si Antoni Tapies, isi au fiecare muzeul sau. Gran Teatre din Liceu si ingenioasa sala de concerte a lui Rafael Moneo, Auditorio Municipal, prezinta spectacole memorabile.De asemenea, tot aici poti admira uimitoarele spirale ale capodoperei lui Gaudi, Sagrada Familia si, mai in spre interior, parcul sau, Guell. Cele mai multe dintre cele 40 de muzee deosebite ale Barcelonei se afla pe dealul Montjuic, unde poti ajunge cu telecabina, din port.</p>
</div>

<div>
    {{> footer }}
</div>

