body {
  background-color: rgb(255, 255, 255);
  font: 400 13px/1.333 'Source Sans Pro', sans-serif; 
  -webkit-font-smoothing: antialiased;
  width:100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.hero {
  position: relative;
  display: flex;
  height: 100vh; 
}

.background-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url('/images/background-image.jpg') center/cover no-repeat;
  
}

/*
.hero-text {
  text-align: center;
  font-size: 24px;
  display:block
}
*/

.home-title span{
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2;
}

.home-title span::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
  transform: translateX(-101%);
}

.home-title span::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
  transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after{
  animation-delay: 1s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after{
  animation-delay: 1.5s;
}

@keyframes a-ltr-after{
  0% {transform: translateX(-100%)}
  100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
  0% {transform: translateX(0)}
  100% {transform: translateX(200%)}
}

.footer {
  background: rgba(107, 107, 107, 0.5);
  color: white;
  padding: 10px 0;
  text-align: center;
  bottom:0;
  left:0;
  width:100%;
  
}

img {
  display: grid;
  
}

.wrapper {
  display: grid;
  padding: 20px 50px 20px 50px;
}

.strip-name {
  width: 100%;
  color: #000;
}

.strip-title-button {
  color: rgb(34, 33, 33);
  margin: 10px;
  font-size:30px;
  padding: 0;
  border: none;
  background: none;

  
}

.strip-title-button:hover {
  text-decoration: underline;

}

.view-all-button {
  color: rgb(17, 15, 15);
  margin:20px;
  font-size:20px;
  font-weight: bold;
  padding-left: 40px;
  border: none;
  background: none; 
  
  
}

.view-all-button:hover {
  text-decoration: underline;

}

.nav-item > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  
  
}

.tari, .orase{
  color: rgb(44, 43, 43);
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  text-decoration: none;
  font-weight: 200;
}



a:hover {
  font-weight: bold;
  color: rgb(42, 41, 43);

}

ul {
  list-style: none;
  
  
}

.submenu li { 
  border-right: 1px solid #ffffff;
  line-height: 15px;
  display: inline-block;
  padding: 0 15px;
}

.submenu li:last-child {
  border:none;
}


.mapimg {
  margin:3cm;
  border-radius: 5%;
  
}

.map-container {
  display: flex;
  align-items: center;
}
.about {
  position: absolute;
  flex: 1;
  padding: 20px;
}


.slider-container {
  cursor: default;
  position: absolute;
  width: 100%;
  display: inline-block;
  height: 230px;
  overflow: hidden;
  transform: translate(0%, 0%);

}



.inner-slider {
  display: flex;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.main-header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asigură că header-ul este deasupra conținutului */
}

.header-content {
  background-color: rgba(82, 79, 79, 0.6); /* Fundal semitransparent */
 
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  height: 2cm;
  width: 100%;
}

.content {
 /*
  box-sizing: content-box;  
  width: max-content;
  height: 200px;
  gap: 30px;
  display: flex;
  justify-content: space-between; 
  padding: 0 20px;*/ 
}


.logo {
  
  width: 6cm;
  padding-left: 15px;
}

.nav-container {
  
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding-right: 7cm;
 
}


.connect-create {
  position: absolute;
  height: 1cm;
  margin-left: 35cm;
  display: flex;
  

}

.hero-text {
  position: absolute;
  color: #424141;
  font-family: 'ELEGANT', sans-serif;
  font-size: 30;
  margin-top: 10cm;
  margin-left: 4cm;
  width: 10cm;
  font-weight: bolder ;
}

.bigtext {
  font-size: 30;
}

.content-title {
  color: rgb(160, 157, 157);
  font-size: 30px;
}

#myBtn {
  color: rgb(75, 112, 198);
  font-size:15px;
  border: none;
  background: none;
}

#myBtn:hover {
  text-decoration: underline;
}


.strip-gallery {
  margin: 20px 0 20px 0;
  position: relative;
  height: 230px;
}





.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  color: rgb(252, 252, 252);
  background-color: rgba(0, 0, 0, 0.644);
  font-size: 18px;
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}

.strip {
  width: 100%;
  overflow: hidden;
}
.stripd {
  width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  display: inline-block;
  position: relative;
  display: flex;
 
}


.info {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.stripd img {
  margin-left: 1cm;
  margin-right: 1cm;
  padding: 5px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(145, 47, 47); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */

.uname {
  margin: 30px;
}

.psw {
  margin: 30px;
}


.conectare, .creaza-cont {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-size: larger;
}

.conectare:hover, .creaza-cont:hover{
  color: #252525;
}

.login, .register {
  background-color: #41c0d6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;

}


.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* Stilizare pentru câmpurile de introducere a datelor */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.close:hover,
.close:focus {
  
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
}


nav ul li:hover .dropdown {
  display: block;
  background: rgba(255, 255, 255, 0.5);
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown ul li {
  display: block;
}

.dropdown ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}

.dropdown .cities {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
}

.dropdown ul li:hover .cities {
  display: block;
}


.destination-list {
  position: absolute;
  list-style-type: none;
  margin-top: 5cm;
  justify-content: center;
  width: 90%;
}

.strip {
  border: 1px solid #ccc;
  display: inline-block;
  position: relative;
}

.strip h2 {
  font-size: 24px;
  margin-right: 1cm;
}

.registration-success-message {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: center;
}

.user-status {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: center;
}

/* Stiluri pentru flight-form */
.flight-form {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  
  
}
.flight {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: large;
  border: #252525;
  
}

.flight-form h1 {
  font-size: 24px;
  margin-top: 5cm;
  
}

.flight-form label {
  display: block;
}

.flight-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.flight-form button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.flight-form button:hover {
  background-color: #2980b9;
}


.flight-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.flight-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.flight-item h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.flight-item p {
  margin: 5px 0;
}


@media (max-width: 768px) {
  .content {
    padding: 10px;
  }
}

.top-destinatii, .cappadocia, .barcelona {
  display: flex;
  padding-top: 5cm;
}


.desc {
  font-family: 'georgia';
  font-size: 18px;
  width: 15cm;
}

.titlu-articol {

}


#chat-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#chat-toggle-button {
  cursor: pointer;
  font-size: 24px;
  border: none;
  background: none;
}

#chat-iframe {
  border: none;

}

.containerm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  position: relative; /* Adaugă această linie */
}

.image-container {
  flex: 1;
  padding: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.content-container {
  flex: 1;
  padding: 20px;
}

.text-content {
  text-align: center;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease, transform 1.5s ease;
  position: absolute; /* Adaugă această linie */
  top: 10%; 
  left: 50%; 
  width: 30%; 
  font-size: large;
  color: #616161;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.text-content span {
  font-style:italic;  
  color: #000000;
  font-weight: bold;
}

.text.active {
  transform: translateX(0);
}


.containerm.active .text-content {
  opacity: 1;
  transform: translateX(0);
}
.img_wrap {
  position: relative;
  display: inline-block;
}

.hover-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  padding: 5px;
  font-size: 14px;
  opacity: 1; /* Ascunde descrierea inițial */
  transition: opacity 0.3s;
}

.img_wrap:hover .hover-desc {
  opacity: 1; /* Afișează descrierea când plasați cursorul peste imagine */
}

